mixin storeForm(store = {})
    //enctype="multipart/form-data"
    form(action="/add" method="POST" class="card")
        label(for="name") Name
        input(type="text" name="name")
        label(for="description") Description
        textarea(name="description")
        - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Licensed', 'Super Puper']
        ul.tags
            each choice in choices
                .tag.tag__choice
                    input(type="checkbox" id=choise value=choice name="tags")
                    label(for=choice) #{choice}
                
                
        
        input(type="submit" value="Save 😃" class="button")

    //p It works #{store.name}
        